@import "tailwindcss";

@font-face {
  font-family: 'Myfont';
  src: url('../src/fonts/Underbold.ttf') format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    background-color: transparent;
    font-family: 'MyFont', sans-serif;
}

html{
    scroll-behavior: smooth;
    left: 0%;
}

.hero{
    width: 100%;
    height: 100vh;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    position: absolute;
    width: 100%;
    height: 80%;
    top: 20%;
    display: flex;
    flex-direction: column;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
}

 nav{
    top: 0%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    height: 10%;
    width: 100%;  
    position: fixed
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}

.logo span{
    background: linear-gradient(90deg, #ff512f, #dd2476); /* Customize colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo img{
    width: 60px;
}

.links {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-weight: 500;
    color: white;
    font-size: 1.2rem;
}

.links a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins',sans-serif;
    
}

.btn1 a{
    padding: 0.5rem;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    border: 3px solid #de2672;
    width: 7rem;
    background: linear-gradient(90deg, #ff512f, #dd2476); /* Customize colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags{
    position: absolute;
    top: 0%;
    height: 80%;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 50px;
    opacity: 0;
    transform: translateY(20px); /* starts lower */
    animation: fadeUp 1s ease-out forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.tags p{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
}

.title-button{
    padding: 0.2rem;
    border-radius: 10px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #ff512f, #dd2476); /* Customize colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    border: 2px solid white;
    width: 6rem;
    font-size: 17px;
    height: 3rem;
    font-family: 'Poppins',sans-serif;
}

.blend{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0%;
    width: 100%;
    min-height: 30%;
    background-image: linear-gradient(to bottom, rgba(23, 25, 67,0), rgb(14, 15, 31));
}

.reviews, .video{
    width: 100%;
    height: 100vh;
    background-color: rgb(14, 15, 31);
    color: white;
    font-size: larger;
}

.about{
    width: 100%;
    height: 120vh;
    background-image: url('../src/assets/FIGHT-CLUB-GRAPHIC.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(184, 184, 184);
    font-size: larger;
}

.service{
    width: 100%;
    height: 130vh;
    background-color: rgb(14, 15, 31);
    color: white;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}

.service span{
    background: linear-gradient(90deg, #ff512f, #dd2476); /* Customize colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-content{
    width: 90vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 2rem;
}

.service-card:hover {
  transform: translateY(-10px);
  background-color: aqua;
}

.drop-down{
    bottom: 30px;
    position: absolute;
    border-radius: 10px;
    background-color:rgba(128, 128, 128, 0.2);
    color: white;
    width: 4rem;
    height: 2rem;
    font-size: 1.3em;
}

.service-card{
    width: 100%;
    height: 40vh;
    background-color: rgb(105, 105, 141);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.service-card h1{
    font-weight: 700;  
    font-size: 1.7rem; 
}

.service-overlay{
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.service-card p{
    margin-top: 20px;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
    font-family: 'Poppins',sans-serif;
}

.plancard-container{
    width: 100%;
    height: 60vh;
    background-color: rgb(14, 15, 31);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 14rem;
    padding-right: 11rem;
}

.plancard-container p{
    font-size: 0.6rem;
    font-weight: 500;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.s-plan-cards{
    width: 15rem;
    height: 8rem;
    background-color: rgb(25, 26, 54);
    border-radius: 10px;
    margin-top: 6rem;
    border: 0.1px solid rgb(26, 26, 56);
    color: rgb(184, 184, 184);
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    padding: 10px;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.plan1{
    background: linear-gradient(90deg, #b4a9a7, #777777); /* Customize colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 1.7rem;
}

.plan2{
    background: linear-gradient(90deg, #e7ad01, #ff9900); /* Customize colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 1.7rem;
}

.plan3{
    background: linear-gradient(90deg, #ff512f, #dd2476); /* Customize colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 1.7rem;
}

.part1{
    position: absolute;
    width: 40%;
    height: 80vh;
    font-size: 1rem;
    right: 4rem;
    margin-top: 14rem;
}

.part1 h1{
    font-weight: 700
}

.plans{
    min-width: 100%;
    height: 100vh;
    background-color: rgb(14, 15, 31);
    color: rgb(255, 255, 255);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan-title{
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
}

.l-plan-container{
    width: 70%;
    height: 70vh;
    background-color: rgb(14, 15, 31);
    color: white;
    font-size: larger;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.l-plan-cards{
    width: 18rem;
    height: 13rem;
    border-radius: 10px;
    margin-top: 2rem;
    border: 0.1px solid rgb(26, 26, 56);
    color: rgb(184, 184, 184);
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    padding: 0.5rem;
    padding-left: 1.1rem;
    justify-content: end;
    font-weight: 700;
    font-size: 1rem;
}

.plans p{
    font-size: 0.6rem;
    font-weight: 500;
    text-align: center;
}

.plans ol{
    list-style: disc;
    font-size: 0.9rem;
    color: #b4a9a7;
}

.plans ol li{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.plans h2{
    font-weight: 700;
    font-size: 1.2rem;
}   

.basic, .standard, .premium{
    width: 70%;
    margin-left: 40px;
}

.l-basic{
    background-image: url('../src/assets/basic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.l-standard{
    background-image: url('../src/assets/standard.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.l-premium{
    background-image: url('../src/assets/premium.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.join{
    min-width: 98.8vw;
    height: 40vh;
    display: flex;
    padding: 0.2rem;
    background-color: rgb(14, 15, 31);
    color: white;
    font-size: 3rem;
    font-weight: 800;
}

.join-left{
    width: 45vw;
    height: 100%;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.join-right{
    width: 60vw;
    height:100%;
    padding-top: 60px;
}

.jl-span{
    color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.join-left>hr{
    position: absolute;
    width: 15rem;
    border: 2px solid #dd2476;
    border-radius: 20%;
    margin-top: -12%;
}

.email-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    padding-right: 0;
    background-color: rgb(25, 26, 54);
    width: 85%;
    height: 10vh;
    margin-left: 4rem;

}

.email-container input{
    width: 70%;
    height: 10vh;
    font-size: 1.2rem;
    background-color: transparent;
    outline: none;
    color: #b4a9a7;
}

.btn-join{
    font-size: 2rem;
    color: white;
    background: linear-gradient(90deg, #ff512f, #dd2476); /* Customize colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    border: 0;
    height: 3rem;
    width: 5em;
}




